@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

/* Add this to your global CSS file or a relevant CSS/SCSS file */
.toggle-checkbox:checked {
    @apply:right-0 border-blue-500;
    right: 0;
    border-color: #7F56D9;
  }
  
  .toggle-checkbox:checked + .toggle-label {
    @apply:bg-blue-500;
    background-color: #7F56D9;
  }
  
  .toggle-label {
    @apply:bg-gray-300;
    background-color: #d1d5db;
  }
  